* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-items: center;
}

.main{
    width: 100vw;
    height: 1024px;
    margin: 0 auto;
    background-image: url("./Images/fundo.svg");
}

.toupeiras{
    margin: 300px auto 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    width: 1050px;
}

.toupeira{
    width: 221.81px;
    height: 168.11px;
    background-image: url(./Images/toupeira6.svg) ;
}

.animated1{
    animation: toupeira 0.7s;
    animation-delay: 10s;
    animation-iteration-count: 1;
}

.animated2{
    animation: toupeira 0.7s;
    animation-delay: 3s;
    animation-iteration-count: 1;
}

.animated3{
    animation: toupeira 0.7s;
    animation-delay: 7s;
    animation-iteration-count: 1;
}

@keyframes toupeira {
    0% {
        background-image: url(./Images/toupeira1.svg);
    }
    20% {
        background-image: url(./Images/toupeira2.svg);
    }
    40% {
        background-image: url(./Images/toupeira3.svg);
    }
    60% {
        background-image: url(./Images/toupeira4.svg);
    }
    80% {
        background-image: url(./Images/toupeira5.svg);
    }
    100% {
        background-image: url(./Images/toupeira6.svg);
    }
    
}
